:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}
  
/* ================================ Formato de la vista login y vista registrar */
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-signin .card-title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
  
.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}
  
.form-signin .btn {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  padding: 1rem;
  transition: all 0.2s;
}
  
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
  
.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
  
.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
  
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
  
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
  
.form-label-group input::-moz-placeholder {
  color: transparent;
}
  
.form-label-group input::placeholder {
  color: transparent;
}
  
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

#aClass{
  color: #495057!important;
}

#aClass:hover{
  color: black!important;
}

.form-label-group>label{
  text-align: left!important;
}

#check{
  text-align: left!important;
  margin-left: 40px;
}

/* ================================ Espacio del header y footer con el contenido de la vista login */
.login-container{
  margin-top: 90px;
  margin-bottom: 90px;
}

/* ================================ Espacio del header y footer con el contenido de la vista post_view */
.post-container{
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ================================ Espacio del footer con el contenido de las vistas que muestran un listado de productos */
.products-container{
  margin-bottom: 80px;
}

/* ================================ Menu desplegable del avatar y carrito de compras en el navbar */
.navbar-nav{
  align-items:center;
}

.nav-item.show{
  position: relative;
}

.dropdown-menu.show{
  margin-top: 7px;
}

.alert{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
}

.welcome{
  border-bottom: 1px solid grey !important;
}

.nav-item.ad{
  margin-right: 10px;
}

.shopping-cart{
  font-size: 1.5rem !important;
  margin-left: 1.5rem;
}

.shopping-cart-contador{
  background-color: white;
  color: #343a40;
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -14px;
  left: -16px;
}

/* ================================ Buscador */
#input-buscador{
  width: 300px;
  margin-right: 5px;
}

/* ================================ Vista mis publicaciones - Vista resultados de busqueda */
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.post{
	border: 1px solid #ECEEEF;
	height: 260px;
	width: 240px;
	display: inline-block;
	margin: 10px;
	position: relative;
	color: #9199A1;
}

.post:hover{
	color: #9199A1;
	background-color: #F5F5F5;
}

.list-group-item:hover{
  color: #FFF;
  background-color: #007BFF;
}

.post-img,
.post-info{
	position: relative;
	left: 0;
}

.post > figure,
.post > img,
.post-img{
	height: 190px;
	top: 0;
}

.post > figure > img,
.post-img > img{
	width: 100%;
	height: 100%;
}

.post-info{
	height: 90px;
	bottom: 0;
	padding: 10px;
}

.post-info-title{ font-size: 16px; }
.post-info-price{
	color: #F09000;
	font-size: 20px;
	font-weight: 600;
}

.post-info-editar,
.post-info-eliminar,
.post-info-like{
	position: absolute;
}

.post-info-editar,
.post-info-eliminar{
	bottom: 7px;
	font-size: 12px;
}
.post-info-editar{ left: 10px; }
.post-info-eliminar{ right: 10px; }
.post-info-like{
	right: 7px;
	top: 10px;
	width: 25px;
	text-align: center;
	cursor: pointer;
}

.post-block{
	display: block;
	float: none;
	width: 100%;
	height: 186px;
}

.post-block .post-img,
.post-block .post-info{
	height: 186px;
	position: absolute;
	top: 0;
}

.post-block .post-img{
	width: 250px;
	left: 0;
	z-index: 2;
}

.post-block .post-info{
	right: 0;
	width: 100%;
	padding: 15px;
	padding-left: 265px;
	z-index: 1;
}

.post-block .post-info-editar{ left: 15px; }
.post-block .post-info-eliminar{ right: 15px; }
.post-user-info{
	margin: 7px 0;
	background-color: #F5F5F5;
	padding: 10px;
}

.post-user-info i.NavBar-Nav-icon,
.post-user-info img.NavBar-Nav-icon{
	cursor: inherit;
	height: 70px;
	width: 70px;
	line-height: 70px;
	font-size: 40px;
	margin: 7px auto;
	display: block;
}

.post-user-info p{
	height: 32px;
	line-height: 32px;
	margin: 5px 0;
	text-align: center;
}

.div-table{
	display: table;
	height: auto;
}

.div-table-row,
.div-table-cell{
	height: 32px;
	line-height: 32px;
	text-align: center;
}

.div-table-row{
	display: table-row;
}

.div-table-cell{
	display: table-cell;
	border: 1px solid #fff;
	box-sizing: border-box;
}

.div-table-cell-c{
	background-color: #F5F5F5;
	color: #333;
}

.divider{
	width: 95%;
	display: block;
	margin: 5px auto;
	height: 0;
	border-top: 1px solid #E1E1E1;
}

.title-section-h2{
  margin-top: 60px;
}

/*================================= Modal */
.ventana{
  width: 25%;
  height: 300px;
  margin: 15% auto 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5%;
  border-radius: 4%;
  align-items: center;
}
.ventanaCalificar{
  width: 40%;
  height: 400px;
  margin: 7% auto 0 auto;
}
.margin-radio{
margin-right: 20px!important;
margin-left: 20px;
}

.ventana p {
  float:left;
}

.form-group{
  margin-top:1%;
  width:100%;
}

.myModal{
    position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: #070707a6;
		z-index: 100;
}

/* ================================ Vista error 404 */
.error_404{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}

/* ================================ Vista carrito de compras */
.botoncito{
  margin: 10px;
  float: right;
  margin-right: 285px;
}

/*================================= compra */

.product-info{
  border:.5px solid lightgray;
  border-radius:5px;
  margin:5% auto 0 auto;
  width:70%;
}
.card-img{
  padding:1%;
  height: 100px;
}
.product-text{
  display:flex;
  justify-content:center;
}
.img-user{
  border-radius:100%;
  height: 70px;
}

/* ================================ Comentarios */

.coment{
  width:70%;
}
.avatar {
  width: 60px; 
}

/* ================================ Vista admin */
.icon-admin{
  font-size: 25px;
  cursor: pointer;
}